# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# VS Code settings
.vscode/

# Python packaging
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints

# macOS
.DS_Store

# Logs
*.log

# Model artifacts (don't commit big model files)
*.joblib
*.pkl
models/
